<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Access-Control-Allow-Origin" content="*">
        <link rel="icon" href="../../favicon.ico"/>        
        <link rel="stylesheet" href="http://at.alicdn.com/t/font_397862_a14oc3v140wwmi.css">
        <script src="https://cdn.bootcss.com/xlsx/0.11.12/xlsx.full.min.js"></script>
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <script src="http://momentjs.cn/downloads/moment.min.js"></script>
        <!-- <script type="text/javascript" src="http://code.highcharts.com/stock/highstock.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.1/jquery.form.min.js" integrity="sha384-tIwI8+qJdZBtYYCKwRkjxBGQVZS3gGozr3CtI+5JF/oL1JmPEHzCEnIKbDbLTCer" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="app"></div>
        <script>
            var isIE = function(){ 
                 return (window.navigator.userAgent.indexOf("MSIE")>=1);  
             }
             // 修复IE10及以下版本不支持dataset属性的问题，兼容transfer-dom.js中使用了dataset的问题
             if (isIE() && window.HTMLElement) {
                 if (Object.getOwnPropertyNames(HTMLElement.prototype).indexOf('dataset') === -1) {
                     Object.defineProperty(HTMLElement.prototype, 'dataset', {
                         get: function() {
                             var attributes = this.attributes;
                             var name = [],
                                 value = [];
                             var obj = {};
                             for (var i = 0; i < attributes.length; i++) {
                                 if (attributes[i].nodeName.slice(0, 5) == 'data-') {
                                     name.push(attributes[i].nodeName.slice(5));
                                     value.push(attributes[i].nodeValue);
                                 }
                             }
                             for (var j = 0; j < name.length; j++) {
                                 obj[name[j]] = value[j];
                             }
                             return obj;
                         }
                     });
                 }
             }
         </script>
    </body>
</html>